<div class="comment">
    <% logger.debug comment.inspect %>
    <strong><%= comment.name %> </strong>
    <p><%= comment.content %> </p>
    <div class="comment_admin">
        <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
        <%= link_to "Delete", [@post, comment],  method: :delete %>
    </div>
</div>

